name: CI MLflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CSV_URL: "Project/aapl.us.txt_preprocessing.csv"

jobs:
  train:
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v3


      # 1. Set up python 3.12
      - name: Set up Python 3.12.7
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.7"

      # Check Env Variables
      - name: Check Env
        run: |
          echo $CSV_URL
      
     

      # 4. Install mlflow in base conda env (cannot install inside project)
      - name: Install dependencies
        run: |
          conda install -y pip
          pip install mlflow

      # 5. Run MLflow Project
      - name: Run MLflow Project
        run: |
          mlflow run Project --env-manager=local 
