name: CI MLflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CSV_URL: "Project/aapl.us.txt_preprocessing.csv"

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      # 0. Install Miniconda (fix for conda NOT found)
      - name: Install Miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: mlflow-env
          python-version: 3.12
          auto-update-conda: true
          auto-activate-base: false


      # 1. Set up Python 3.12
      - name: Set up Python 3.12.7
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.7"

      # Check Env Variables
      - name: Check Env
        run: |
          echo $CSV_URL

      # 4. Install mlflow (INSIDE conda)
      - name: Install MLflow
        run: |
          pip install mlflow

      # 5. Run MLflow Project (this now works because conda exists)
      - name: Run MLflow Project
        run: |
          mlflow run Project --env-manager=local
