name: CI MLflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      # Set Python
      - name: Setup Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      # Install MLflow (global)
      - name: Install MLflow
        run: |
          pip install mlflow

      # RUN MLflow Project
      - name: Train ML Model via MLflow Project
        run: |
          mlflow run Project --env-manager=local

    